body {
    font-family: Arial, sans-serif;
    margin: 20;
    padding: 20;
  }
  
  h1 {
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
    width: 50%;
    min-width: 500px;
  }
  
  table {
    width: 50%;
    margin: 20px;
    border-collapse: collapse;
    min-width: 500px;
  }

  canvas {
    margin : 0px;
    padding : 0px;
  }

  
  td {
    padding: 10px;
  }
  
  input[type="number"],
  select {
    width: 100px;
    padding: 5px;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .first_col {
    width :60%;

  }
  .second_col {
    width :40%;
  }

  #electroEnergy_row {
    display: table-row;
  }
  
  #hotWater_row {
    display: table-row;
  }
  
  #thermalEnergy_row {
    display: table-row;
  }
  
  #fuelType_row {
    display: table-row;
  }
  
  #Results {
    display: none;
  }
  
  #Error {
    display: none;
  }
  
  #electroEnergy_input,
  #hotWater_input,
  #thermalEnergy_input,
  #fuelType_select {
    width: 100px;
  }
  
  
  #calculateButton {
    background-color: green;
  }
  
  #error {
    color: red;
  }
  
  .red_asterisk{
    color: red;
  }

  .container{
    width : 600px;
    height : 300px;
    position : relative;
    display :grid;
    padding:0px 5px 5px 5px;
    grid-template-columns: 200px 400px;
    visibility: hidden;
  }
  #chart_stats{
    width : 600px;
    height : 300px;
    position : relative;
    display :grid;
    padding:5px;
    grid-template-columns: 200px 400px;
    visibility: hidden;
  }
  .chart_col{
    padding:0px;
    height:100%;
    vertical-align:top;
  }
  .chart_col canvas{
    padding:0px;
  }
  .stats_col{
    display: grid;
    grid-template-rows : 3fr 40px 40px 40px 7fr;
  }
  .stats_row{
    display:table-row;
    text-align: left;
  }
  .stats_row svg{
    vertical-align: middle;
    width:30px;
    height:30px;
    padding:5px;
  }