  
  body {
    background:#386E4C;
  }

  article{
    
    font-size:14px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 520px;
    margin: 20px auto 10px auto;
    color: #444;
    background-color: #f0f0f0;
    border-radius: 20px;  
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
  }

  .compressed-image{
    width: 430px;
    margin: 0 auto 0 auto;
    padding: 0 0 0 0;
  }

  .compressed-image:hover{
    cursor: pointer;
  }

  figcaption{
    font-size: x-small;
  }

  #image{
    width:100%;
    display: block;
  }
  
  .calculator-header {
    text-align: left;
    padding: 20px 0px 5px 10px;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 5px;
    width: 500px;
    min-width: 500px;
  }
  
  table {
    width: 450px;
    margin: 0px auto 0px auto;
    border-collapse: collapse;
  }

  canvas {
    margin : 0px;
    padding : 0px;
  }

  
  td {
    padding: 10px 0px 0px 10px;
  }
  
  select{
    width:132px;
    padding: 5px;
    border-color: #ddd;
    border-width: 2px;
    border-radius:20px;
  }
  select:hover{
    border-color: #eee;
    cursor: pointer;
  }
  input[type="number"]{
    width:120px;
    padding: 5px;
    border-width: 2px;
    border-style:double;
    border-color: #ddd;
    border-radius:20px;
  }
  input:hover{
    border-color: #eee;
  }
  
  
  button {
    padding: 10px;
    color: white;
    border: thin;
    border-color: #fff;
    cursor: pointer;
    border-radius:5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition-duration: 0.5s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .first-col {
    width :auto;

  }
  .second-col {
    width :150px;
  }
  .per-person-row{
    background-color:#ddd;
  }

  .stats-table td{
    padding-top:5px;
    padding-bottom: 5px;
  }

  .per-person-row td{
    padding-top:3px;
    padding-bottom:3px;
  }

  .per-person-label{
    text-indent: 30px;
    text-align: right;
  }
  .consumption-per-person{
    text-align: right;
    padding-right: 10px;
  }

  .stats-first-col {
    width :auto;

  }
  .stats-second-col {
    width :150px;
  }
  .stats{
    text-align:right;
    padding-right: 10px;
  }

  #electroEnergy_row {
    display: table-row;
  }
  
  #hotWater_row {
    display: table-row;
  }
  
  #thermalEnergy_row {
    display: table-row;
  }
  
  #fuelType_row {
    display: table-row;
  }
  
  #results {
    display: none;
  }

  
  #error {
    display: none;
  }
  
  #person-bar-container{
    width: 100%;
    padding-right: 0px;
    margin-right: 0px;
    height: 35px;
    display: grid;
    grid-template-columns: 100px 40px auto 40px;
  }

  .person-bar-label{
    padding-top:5px;
  }
  
  .person-bar-button{
    width: 35px;
    height: 100%;
    padding: 0px 0px 0px 0px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #4CAF50;
    border-color: #ddd;
  }
  .person-bar-button:hover{
    background-color: rgb(60,140,60);
    border-color:#aaa;
  }
  .person-bar-button:active{
    background-color: #8CdF8c;
  }

  #plus-person-button{
    background-image: url("https://disk.yandex.ru/i/psrXPP6jRUsH5w") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left:5px;
  }
  #minus-person-button{
    
  }

  #person-bar{
    background-color: #fafafa;
    border: medium solid #ddd;
    border-width: 2px;
    border-radius:10px;
    overflow:auto;
  }

  #person-number-cell{
    padding-left:15px;
  }
  
  #calculate-button {
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin-top: 20px;
    margin-bottom:5px;
    height: 30px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #4CAF50;
    border-color: #ddd;
  }
  #calculate-button:hover{
    background-color: rgb(60,140,60);
    border-color:#aaa;
  }
  #calculate-button:active{
    background-color: #8CdF8c;
  }
  
  .green-message {
    color: #00BCD4;
  }

  .hint-message {
    color: #FF9800;
  }

  .container{
    width: 480px;
    height : 200px;
    position : relative;
    display :grid;
    padding:0px 5px 20px 30px;
    grid-template-columns: 25fr 28fr;
    visibility: hidden;
  }

  #chart_stats{
    height : 200px;
    display :grid;
  }
  .chart_col{
    padding:0px;
    height:100%;
    vertical-align:top;
  }
  .chart_col canvas{
    padding:0px;
  }
  .stats-table{
    width:480px;
    border-collapse: collapse;
  }
  .stats-table tr{
    border-bottom: thin solid black;
  }
  .stats-table tr:last-child{
    border-bottom: 0 none transparent;
  }
  .stats-table tr.row-no-border{
    border-bottom: 0 none transparent;
  }
  .row-border{
    border-bottom: thin solid black;
  }
  .stats_col{
    display: grid;
    grid-template-rows : 3fr 40px 40px 40px 7fr;
  }
  tr.stats_row{
    display:table-row;
    text-align: left;
  }
 
  .stats_row svg{
    vertical-align: middle;
    width:30px;
    height:30px;
    padding:5px;
  }

.tooltip {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:20px;
    padding-top:0px;
    padding-bottom: 0px;
    height:auto;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 480px;
    border-radius: 5px;
    transition-duration: 0.5s;
}
.tooltip h2{
  text-align: center;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
}
.tooltip-header {
    padding: 5px;
    background-color: #009688;
    color: white;
    border-radius:5px;
}

details[open] > .tooltip-header{
  padding: 5px;
  background-color: #009688;
  color: white;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-sizing: border-box;
}

svg{
  transition-duration: 0.5s;
}

.tooltip-header:hover{
  background-color: #33a698;
}
details[open] > .tooltip-header:hover{
  padding: 5px;
  background-color: #33a698;
  color: white;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-sizing: border-box;
}
p{
  hyphens: auto;
}

.tooltip-body {
    padding: 0px 0px 0px 0px;
    background-color: #f9f9f9;
}
.tooltip-body-content{
  padding: 0px 20px 10px 20px;
}

.reference-table{
  margin:0px auto 5px auto;
  padding:5px 5px 5px 5px;
  width:430px;
  border-collapse: collapse;
}
.reference-table th{
  text-align: center;
}

.reference-table td{
  text-align: left;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}
.reference-table tr td:last-child{
  text-indent: 30%;
}

.ref-first-col{
  width:70%;
}

.ref-second-col{
  width:30%;
}

a {
  color: #546DcE;
  text-decoration: none;
  transition-duration: 0.1s;
}

a:hover {
  color: #03A9FF;
}

a:active{
  color: #00BCD4;
}

.tooltip-body ol{
  text-indent: 0px;
  padding-inline-start: 20px;
  padding-inline-end: 5px;
}

.tooltip-body ol li{
  padding-bottom: 7px;
}

#max-consumption{
  font-weight: bold;
}

.export-icon:hover{
  animation-name: shake;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.export-section{
  width:100%;
  padding-top:0px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

#export-results-section{
  visibility: hidden;
}

.share-icon{
  width:24px;
  height: 24px;
  padding: 0;
  margin: 0;
}
.share-btn{
  width:24px;
  height: 24px;
  padding: 0;
  background: transparent;
  box-shadow: none;
}
.share-btn:hover{
  background: none;
  animation-name: shake;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.export-button {
  width: 30px;
  padding: 0px 0px 0px 0px;
  float: right;
  margin-right:20px;
  margin-top:0px;
  height: 30px;
  font-size: 14px;
  border-radius: 4px;
  background-color: transparent;
  box-shadow: none;
  border:none;
  display:block;
}

.export-button:hover{
  background-color: transparent;
}

.export-button:active{
  width:35px;
  height:35px;
  background-color: #8CdF8c;
}

@keyframes shake{
  from{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(-10deg);
  }
  50%{
    transform: rotate(0deg);
  }
  75%{
    transform: rotate(10deg);
  }
  to{
    transform: rotate(0deg);
  }
}

footer{
  margin: 10px auto 0px auto;
  padding:0px 0px 15px 0px;
  height:fit-content;
  font-size: 12px;
  text-align: center;
}
  .expanded-image{
    position: fixed;
    width:90%;
    height:auto;
    top:5%;
    left:5%;
    display: block;
    box-shadow: 0 0 100px rgba(0,0,0,0.8);
    cursor: pointer;
  }
  .about-me{
    width:100%;
    display: grid;
    grid-template-columns: auto 170px 30px auto;
    margin: 0px auto 0px auto;
  }
  .copyright{
    text-align: right;
  }
  .github-icon{
    text-align: left;
  }